<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
<div id="root" style="height: 100%; width: 100%"></div>
</body>

</html>
